<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="luisAppID" value="0552d416-b949-4a6f-a4b0-b4bdb5d0402a" />
    <add key="luisSubscriptionID" value="85756079f49e45f29fae68aab76ae42b" />
    <add key="SubscriptionKey" value="cbefe01a25ca4055a692353f6ad5a946" />

    <add key="CPURL" value="https://10.6.46.243:40407/" />
    <!--add key="CPURL" value="https://10.116.241.106:40407/" />-->
    <!-- 
     Enter an optional authentication Uri such as: 
     https://westus.api.cognitive.microsoft.com/sts/v1.0/issuetoken
    -->
    <add key="AuthenticationUri" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>